@model IEnumerable<CreativeCollabMusicalRecipes.Models.AcademyDto>
@{
    ViewBag.Title = "List";
}
@*lsiting the data for instrument Academy*@
<h2 class="text-center">Academy List</h2>
<div class="row d-flex text-center justify-content-center align-content-center">
    @foreach (var academy in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <p>
                    <span class="font-weight-bold" style="font-size: 18px;">Academy Name:</span>
                    <a href="/Academy/Details/@academy.AcademyId" class="text-primary f-w-bold">
                        @academy.AcademyName
                    </a>
                </p>

                <p>Academy Address: @academy.AcademyAddress</p>
              
            </div>
        </div>
    }
                <a href="/Academy/New" class="btn btn-secondary">Add Academy</a>
 </div>
