﻿@model IEnumerable<CreativeCollabMusicalRecipes.Models.RecipeDto>

@{
    ViewBag.Title = "New";
}

@section Scripts {
    <script src="~/Scripts/recipe.js"></script>
}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>Add Instruction</h1>
        </div>
    </div>
    <form action="/Instruction/Create" method="post" class="form-horizontal">
        <div class="form-group row my-2">
            <label for="Description" class="col-md-2 col-form-label fw-bold">Description:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Description" name="Description" />
            </div>
        </div>
        <div class="form-group row my-2">
            <label for="StepNumber" class="col-md-2 col-form-label fw-bold">Step Number:</label>
            <div class="col-md-10">
                <input type="number" class="form-control" id="StepNumber" name="StepNumber" />
            </div>
        </div>
        <div class="form-group row my-2">
            <label for="Recipe" class="col-md-1 col-form-label fw-bold">Recipe:</label>
            <div class="col-md-10">
                <select class="form-select" name="RecipeId">
                    @foreach (var recipe in Model)
                    {
                        <option value="@recipe.RecipeId">@recipe.Title</option>
                    }

                </select>

            </div>
        </div>
        <div class="form-group row">
            <div class="col d-flex gap-4 justify-content-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/Instruction/List" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>
