@model IEnumerable<CreativeCollabMusicalRecipes.Models.LessonDto>
@{
    ViewBag.Title = "List";
}
@*lsiting the data for lessons*@

<h2 class="text-center">Lesson List </h2>
<a href="/Lesson/New" class="btn btn-secondary">Add lesson</a>

<div class="d-flex justify-content-center align-content-center">
    <table class="table table-striped" >
        <thead class="text-center">
            <tr>
                <th>Lesson Name</th>
                <th>Instructor Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var lesson in Model)
            {
                <tr>
                    <td><a href="/Lesson/Details/@lesson.LessonID"> @lesson.LessonName </a></td>
                    <td>@lesson.FirstName</td>
                    <td>
                        <div class="d-flex gap-2 justify-content-center align-content-center">
                            <a href="/Lesson/Edit/@lesson.LessonID" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="/Lesson/DeleteConfirm/@lesson.LessonID" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>